.brand{

    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    
     

    .section-subtitle{font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: 400;
       text-align: center;
       color:#c87e4f ;

       }


       .brand-images{
        display: grid;
        grid-template-columns: 1fr 0fr ;
        //grid-template-areas: 1fr 1fr;
        margin-top: 3rem;
        justify-content: space-between;
        justify-self: stretch;
        margin-left: 10px;

        
        }

        




        .brand-img{height: 150px;
            width: 150px;
          object-fit: contain;
           opacity: 0.4;
          transition: all 300ms ease-in-out;}


          .brand-img:hover{opacity: 1;} 

    




    @include breakpoints-up(large){

        .brand-images{
            display: flex;
            column-gap: 60px;
            margin-top: 3rem;
            align-items: center;
        }


        .brand-img{height: 150px;
            width: 150px;
          object-fit: contain;
           opacity: 0.4;
          transition: all 300ms ease-in-out;}

    
               
    



    }
    
    
}