.menu{height: 230vh;
     width: 100%;
     box-sizing: border-box;
     position: relative;
    margin-top: 300px;
    color: white;
    background-color: #2c3034;


    @include breakpoints-up(large){
      margin-top: 20px;
      height: 150vh;
    }


    .contain {max-width: 1030px;
        width: 100%;
        margin: 0 auto ;
        padding: 0 2rem;
       padding-top: 1.8rem;}  
        




    .section-subtitle{font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: 400;
       text-align: center;
       color:#c87e4f ;

       }


       .section-title {text-align: center;
        font-size:2.4rem ;
      font-weight: 400;
       margin: 1rem 0;}
       
  
  .section-description {text-align: center;
               margin-bottom: 2rem;
               font-size: 20px;}


               & .menu-content{display: flex;
                flex-direction: column;
                column-gap: 6rem;
                margin-top: 6rem;
            
                 }
                    
                 .menu-img{height: 50px;
                    width: 50px;
                    margin-right: 0.5rem;
                  }
      
      
          .menu-items{display: flex;
                     flex-direction: column;
                    row-gap: 10px;}
          
          .menu-item{background-color: white;
                    padding:  0.5rem ;
                    color: #2c3034;
                   position: relative;}


                   .menuItem-details{margin-right: 10.5rem;
                        
                   }   



                   .menuItem-topic{font-size: 1rem;
                    font-weight: 600;}

    .menu-itemDes{font-size: 0.8rem;}


    .menuItem-price{font-size: 0.8rem;
                  float: right;
                  margin-right: -10rem;
                  padding-left: 1rem;
                  border-left: 2px solid rgba(0,0,0,0.3);
                   }


                   .real-price{text-decoration: line-through;} 
                   
                   
                  // .time-table{margin-top: 40px;}
                    
                    
                   .time-topic {background-color: #c87e4f;
                               width: 100%;
                               display: block;
                               text-align: center;
                               font-size: 1.5rem;
                               margin-top: 10px;
                               font-weight: 500;
                               padding: 1.5rem 0;}
                               
                               

                    .time-list{background-color: white;
                                color: #2c3034;
                               justify-content: space-between;
                               padding: 1.5rem;
                               font-size: 1rem;
                               border-bottom: 2px solid rgba(0,0,0,0.3);
                             
                             &:nth-child(7){border-bottom: none;}}            
                        
                        

                  
        
  









      @include breakpoints-up(large){





        .section-subtitle{font-size: 1.6rem;
        letter-spacing: 1px;
        font-weight: 400;
       text-align: center;
       color:#c87e4f ;

       }


       .section-title {text-align: center;
        font-size:2.4rem ;
      font-weight: 400;
       margin: 1rem 0;}
    


        
    
    
    
    
    
    
    
    
                 & .menu-content{display: grid;
                    grid-template-columns: 1.8fr 1fr;
                    column-gap: 6rem;
                    margin-top: 6rem;
                
                     }
                
                
                     .menu-img{height: 80px;
                              width: 80px;
                              margin-right: 0.5rem;
                            }
                
                
                    .menu-items{display: flex;
                               flex-direction: column;
                              row-gap: 10px;}
                    
                    .menu-item{background-color: white;
                              padding:  1rem ;
                              color: #2c3034;
                             position: relative;}


                             .section-description {text-align: center;
               margin-bottom: 2rem;
               font-size: 1.6rem;}

                
                             
                
                
                
                
                    .menuItem-details{margin-right: 10.5rem;
                        
                    }   
                    
                    
                    .menuItem-topic{font-size: 1.3rem;
                                    font-weight: 600;}
                
                    .menu-itemDes{font-size: 1rem;}
                
                
                    .menuItem-price{font-size: 1rem;
                                  float: right;
                                  margin-right: -10rem;
                                  padding-left: 1rem;
                                  border-left: 2px solid rgba(0,0,0,0.3);
                                   }
                
                
                   // .discount-price{}
                    
                    .real-price{text-decoration: line-through;}  
                    
                    
             .time-topic {background-color: #c87e4f;
                         width: 100%;
                         display: block;
                         text-align: center;
                         font-size: 1.8rem;
                         font-weight: 500;
                         padding: 1.5rem 0;} 
                         
                         
             .time-list{background-color: white;
                       color: #2c3034;
                      justify-content: space-between;
                      padding: 1.5rem;
                      font-size: 1rem;
                      border-bottom: 2px solid rgba(0,0,0,0.3);
                    
                    &:nth-child(7){border-bottom: none;}}            
    



    }







   








   









}