.newsletter{height: 20vh;
            width: 100%;

    .section-description {text-align: center;
        margin-bottom: 2rem;
        font-size: 15px;
     color:#888682;}

        .logo-icon,.logo-text {font-size: 2rem;
                   color: #888682;
                  font-weight: 500;}


                     
                     
        .newsletter-container{
            display: grid;
            justify-items: center;
            row-gap: 2rem;
        }  



        
        
        

        .button {
            border: none;
            outline: none;
            padding: 1.2rem 2rem;
            border-radius: 3rem;
            background-color: #c87e4f;
            color: white;
            margin-top: 10px;
            transition: all 200ms ease-in-out;
            justify-content: center;
            cursor: pointer;  
            
            font-size: 1rem;

            &:hover{
                background-color:#c2703d;
                 transform: scale(1.05);
            }


        }





        .newsletter-input{border-radius: 50px;
                          border: 2px solid #888682;
                          padding: 1.2rem 2rem;
                          outline: none;
                          }


                          input {font-size: 20px;}




         .newsletter-inputBox{
                         position: relative;
                         height: 5rem; 
                        // overflow: hidden;
                         align-items: center;

         } 
         
         
        
         .media-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            top: 100px;
            


            .icon{
                color: #888682;

                
            }
            

         }




         @include breakpoints-down(medium){



            .section-description {text-align: center;
                margin-bottom: 2rem;
                font-size: 18px;
             color:#888682;}
        



            .newsletter-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                column-gap: 60px;
                justify-content: space-between;
            }  


    
            .button {
                border: none;
                //outline: none;
                padding: 1.2rem 2rem;
                border-radius: 3rem;
                background-color: #c87e4f;
                color: white;
                margin-top: 10px;
                transition: all 200ms ease-in-out;
                justify-content: center;
                cursor: pointer;  
                
                font-size: 1rem;
    
                &:hover{
                    background-color:#c2703d;
                     transform: scale(1.05);
                }
    
    
            }
    


         }
 
        





}