.review{
    height: 100dvh;
      width: 100%;
      background-color: #f2f2f2;
      margin-top: 20px;
      box-sizing: border-box;

      .section-subtitle {font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 400;
       text-align: center;
       color:#c87e4f ;
}

      .section-title {font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
         margin: 1rem 0;
         color: #333;}

      .section-description {font-size: 12px;
        text-align: center;
        margin-bottom: 0.5rem;
        //padding: 0 9rem;
        color: #333;}

        .testimonial{display: flex;
            flex-direction: column;
           row-gap: 10px;
           //padding-top: 10px;

           @include breakpoints-up(medium){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
           }
} 


.testimonial-content {//border: 1px solid black;
  padding:15px;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 4px rgba(0,0,0, 0.2);
  flex-direction: column;
 row-gap: 15px;
 border-radius: 50px;
 color: #333;}


 .testimonial-img{width: 40px;
  height: 40px;

  .profileImg1{width: 40px;
              height: 40px;
              border-radius: 100%;}           

}


.testimonial-text {font-size: 11px;
  text-align: left;
  line-height: 1.2;} 








      @include breakpoints-up(large){


        height: 100dvh;

        .section-subtitle{font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: 400;
           text-align: center;
           color:#c87e4f ;
    
           }
    
    
           .section-title {text-align: center;
            font-size:2.4rem ;
          font-weight: 400;
           margin: 1rem 0;
           color: #333;}
           
      
      .section-description {text-align: center;
                   margin-bottom: 2rem;
                   padding: 0 9rem;
                   font-size: 20px;
                   color: #333;}



      .testimonial{display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                   column-gap: 70px;
                   padding-top: 30px;
      } 
      
      
      .testimonial-content {//border: 1px solid black;
                            padding: 30px;
                            align-items: center;
                            display: flex;
                            box-shadow: 0px 0px 4px rgba(0,0,0, 0.2);
                            flex-direction: column;
                           row-gap: 30px;
                           border-radius: 50px;
                           transition: all 300ms ease-in-out;
                           color: #333;
                          
                            &:hover{transform: scale(1.05);

                            }
                          
                          }

      .testimonial-img{width: 100px;
                      height: 100px;
                    
                      .profileImg1{width: 100px;
                                  height: 100px;
                                  border-radius: 100%;}           
                    
                    }

                    .testimonial-text {font-size: 16px;
                                      text-align: left;} 


    



      }




   


}